body {
    background-image: url(../images/img1.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 100;
}

.bot1 {
    padding: 100px 0;
    text-align: center;
}

label {
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px;
    font-size: 100%;
    font-weight: 400;
}

.er {
    font-size: 200%;
    font-weight: bold;
    color: red;
}

.back {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.sub {
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #78787d 0%, #909292 50%, #49494b 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 100;
    color: white;
    transition: .5s;
}

.sub:hover {
    background-position: 0 0;
}


.bot {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 3px;
    border-style: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #78787d 0%, #909292 50%, #49494b 100%);
    background-position: 100% 0;
    background-size: 200% 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
    font-weight: 100;
    color: white;
    transition: .5s;
}

.bot:hover {
    background-position: 0 0;
}

.pressed-button {
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #78787d 0%, #909292 50%, #49494b 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 100;
    color: white;
    transition: .5s;
}

.pressed-button:hover {
    background-position: 0 0;
}


input[type="text"] {
    text-decoration: none;
    display: inline-block;
    padding: 10px 5px;
    margin: 5px 5px;
    width: 300px;
    border-radius: 10px;
    background-color: #ddddde;
    background-position: 50% 0;
    background-size: 50% 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 100;
}

input[type="password"] {
    text-decoration: none;
    display: inline-block;
    padding: 10px 5px;
    margin: 5px 5px;
    width: 300px;
    border-radius: 10px;
    background-color: #ddddde;
    background-position: 50% 0;
    background-size: 50% 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 100;
}

input[type="number"] {
    text-decoration: none;
    display: inline-block;
    padding: 10px 5px;
    margin: 5px 5px;
    width: 300px;
    border-radius: 10px;
    background-color: #ddddde;
    background-position: 50% 0;
    background-size: 50% 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 100;
}

table {
    font-family: 'Montserrat', Sans-Serif;
    border-collapse: collapse;
    color: black;
}

th {
    border: 2px solid #6c6a6a;
    padding: 5px;
    text-align: left;
    background: #e3e3e3;
}

td {
    padding: 5px;
    border: 2px solid #6c6a6a;
    background: #e3e3e3;
}

td:nth-child(5) {
    border: none;
    background: transparent;
}

td:nth-child(6) {
    border: none;
    background: transparent;
}

.table_sort table {
    border-collapse: collapse;
}

.table_sort th {
    cursor: pointer;
    width: 130px;
}

.table_sort td,
.table_sort th {
    text-align: center;
    border: 2px solid #6c6a6a;
    background: #e3e3e3;
}


th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}

.table_sort td:nth-child(8){
    border: none;
    background: transparent;
}