.table_sort table {
    border-collapse: collapse;
}

.table_sort th {
    cursor: pointer;
    background: rgba(26,44,57,0.37);
    width: 130px;
}

.table_sort td,
.table_sort th {
    text-align: center;
    border: 2px solid #6c6a6a;
}

.table_sort tbody tr:nth-child(even) {
    background: #e3e3e3;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}