<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<div th:switch="${customers}">
    <h1 th:case="null">Покупателей не найдено</h1>
    <div th:case="*">
        <h1>Customers</h1>
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.fname}"></td>
                <td th:text="${customer.status}"></td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/seller/sellers}">Go back</a></p>
</div>
</body>
</html>