<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link media="all" rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>
<form class="bot1">
    <p>Впервые на сайте?</p>
    <a href="/auth/registration" class="pressed-button">Зарегистрироваться</a>
    <p>Уже есть аккаунт?</p>
    <a href="/auth/login" class="pressed-button">Авторизоваться</a>
</form>
</body>
</html>