<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Новый заказ</title>
    <link href="../css/background.css" th:href="@{/css/background.css}" rel="stylesheet" />
</head>
<body>
<div th:switch="${detailList}">
    <h1 th:case="null" class="er">Нет деталей для продажи</h1>
    <div th:case="*">
        <h1>Список товаров</h1>
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>В корзине</th>
            </tr>
            </thead>
            <tbody class="detail_list">
            <tr class="detail_row" th:each="detail : ${detailList}">
                <td class="detail_name" th:text="${detail.name}"></td>
                <td class="detail_quantity" th:text="${detail.quantity}"></td>
                <td class="detail_price" th:text="${detail.price}"></td>
                <td class="product_count ">0</td>
                <td><input type="button" class="add_to_cart  bot"  value="Добавить в корзину"/></td>
                <td width="150px"><input  type="button"  class="set_count_button count_manipulation_object bot" style="display: none" value="Указать количество"
                /></td>
            </tr>
            </tbody>
        </table>
        <input type="button" class="confirm_button bot" value="Подтвердить заказ"/>
        <span ></span>
    </div>
</div>
<div class="back">
    <a href="/auth/success" class="pressed-button">На главную</a>
</div>
<div class="currentUsername" hidden="hidden" th:text="${currentUsername}"></div>
<script th:src="@{/js/newOrder.js}"></script>
</body>
</html>