<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link media="all" rel="stylesheet" href="/css/background.css" type="text/css"/>
    <link media="all" rel="stylesheet" href="/css/table.css" type="text/css"/>
</head>
<body>
<div th:switch="${orders}">
    <h1 th:case="null" class="er">Нет заказов</h1>
    <div th:case="*">
        <h1>Текущие заказы</h1>
        <table class="table_sort">
            <thead>
            <tr>
                <th>Цена</th>
                <th>Дата</th>
                <th>Количество</th>
                <th>Статус</th>
                <th>Покупатель</th>
                <th>Деталь</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.cost}"></td>
                <td th:text="${order.date}"></td>
                <td th:text="${order.quantity}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.customer.getName()}"></td>
                <td th:text="${order.detail.getName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="back">
    <a href="/auth/success" class="pressed-button">На главную</a>
</div>
<script th:src="@{/js/sort.js}"></script>
</body>
</html>