<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example </title>
    <link href="../css/background.css" th:href="@{/css/background.css}" rel="stylesheet" />
</head>
<body>
<div th:if="${message == null}">Создать нового пользователя</div>
<form method="post" th:action="@{/auth/registration}" th:object="${user}" th:field="${seller.id}">
    <div th:if="${message}">Такой пользователь уже существует</div>
    <div><label> Имя пользователя: <input type="text" name="username"/></label></div>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <div><label> Пароль: <input type="password" name="password"/></label></div>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <div>
        <label> Роль:</label>
        <select class="roleSelector" th:field="*{roles}">
            <option th:each="role : ${roleList}"
                    th:value="${role}"
                    th:text="${role}"></option>
        </select>
    </div>
    <div class="sellerSelector">
        <label> Выберите своего продавца:</label>
        <select th:field="${seller.id}">
            <option th:each="sellerIter : ${sellerList}"
                    th:value="${sellerIter.getId()}"
                    th:text="${sellerIter.getFname()}"></option>
        </select>
    </div>
    <div><input type="submit" value="Создать"/></div>
</form>
<script th:src="@{/js/reg.js}"></script>
</body>
</html>