<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sellers</title>
</head>
<body>
<div>
    <h1 th:inline="text">Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/auth/logout}" method="post">
        <input type="submit" value="Выйти из системы"/>
    </form>
</div>
<div th:switch="${sellers}">
    <h1 th:case="null">Продавцов не найдено</h1>
    <div th:case="*">
        <h1>Продавцы</h1>
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Выручка</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="seller : ${sellers}">
                <td th:text="${seller.id}"></td>
                <td th:text="${seller.fname}"></td>
                <td th:text="${seller.sum_profit}"></td>
                </td>
                <td><a th:href="@{update/{id}(id=${seller.id})}">Редактировать</a></td>
                <td><a th:href="@{delete/{id}(id=${seller.id})}">Удалить</a></td>
                <td><a th:href="@{customers/{id}(id=${seller.id})}">Посмотреть клиентов</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>