<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление продавца</title>
    <link href="../css/background.css" th:href="@{/css/background.css}" rel="stylesheet" />
</head>
<body>
<form method="post" th:action="@{/seller/update}" th:object="${seller}" >
    <label for="id">Current Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    </br>
    <label for="name">Enter name</label>
    <input type="text" th:field="*{fname}" id="name" placeholder="Name">
    </br>
    <label for="sum">Enter sum</label>
    <input type="number" th:field="*{sum_profit}" id="sum" placeholder="Sum">
    <div style="color:red" th:if="${#fields.hasErrors('sum_profit')}" th:errors="*{sum_profit}"></div>
    </br>
    <input type="submit" value="Update seller">
</form>
</body>
</html>