<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление продавца</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form class="bot1" method="post" th:action="@{/seller/update}" th:object="${seller}" >
    <label for="id">ID пользователя</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    </br>
    <label for="name">Новое имя</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    </br>
    <label for="sum">Введите сумму</label>
    <input type="number" th:field="*{sum_profit}" id="sum" placeholder="Sum">
    <div style="color:red" th:if="${#fields.hasErrors('sum_profit')}" th:errors="*{sum_profit}"></div>
    </br>
    <input class="sub" type="submit" value="Обновить">
</form>
</body>
</html>