<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продавцы</title>
    <link href="../css/background.css" th:href="@{/css/background.css}" rel="stylesheet" />
</head>
<body>
<div th:switch="${sellers}">
    <h1 th:case="null" class="er">Продавцов не найдено</h1>
    <div th:case="*">
        <h1>Продавцы</h1>
        <table>
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Выручка</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="seller : ${sellers}">
                <td th:text="${seller.id}"></td>
                <td th:text="${seller.name}"></td>
                <td th:text="${seller.sum_profit}"></td>
                </td>
                <td><a class="bot" th:href="@{update/{id}(id=${seller.id})}">Редактировать</a></td>
                <td><a class="bot" th:href="@{delete/{id}(id=${seller.id})}">Удалить</a></td>
                <td><a class="bot" th:href="@{customers/{id}(id=${seller.id})}">Посмотреть клиентов</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="back">
    <a href="/auth/success" class="pressed-button">На главную</a>
</div>
</body>
</html>