<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:action="@{/user_create}" th:object="${user}" th:method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    </br>
    <input type="submit" value="Create user">
</form>
</body>
</html>